{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {# this is the content displayed as a panel in the toolbar #}
        <span class="sf-toolbar-value">Midata
            {% if collector.requestcount != 0 %}{{ (collector.cachedcount // collector.requestcount) * 100 }}%{% endif %}
            </span>
    {% endset %}

    {% set text %}
        {# this is the content displayed when hovering the mouse over
           the toolbar panel #}
        <div class="sf-toolbar-info-piece">
            <b>Requests</b>
            <span class="sf-toolbar-status">{{ collector.requestcount }}</span>
        </div>

        <div class="sf-toolbar-info-piece">
            <b>Cached</b>
            <span class="sf-toolbar-status">{{ collector.cachedcount }}</span>
        </div>
    {% endset %}

    {# the 'link' value set to 'false' means that this panel doesn't
       show a section in the web profiler #}
    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: false }) }}
{% endblock %}